.profileDisplayParent{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    flex-grow: 1;
}

.nameHead{
    font-size: 1.5rem;
}

.worker{
    color: grey;
}

.avatar_style{
    width: 7rem !important;
    height: 7rem !important;
}

.gridBackground{
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}

.profile_picture_edit_avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile_pic_pen_icon {
    position: absolute !important;
    top: -0.5rem !important;
    right: -1rem !important;
    color: #fff;
    z-index: 1 !important;
}