*{
    font-family: sans-serif;
}

.global_center_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.global_uniform_vertical_style{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.global_error_text{
    color: #D32F2F;
    font-size: 0.75rem;
}

.global_justify_space_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headind_style{
    font-size: 1.2rem;
    font-weight: bold;
}

.loader_main{
    height: 80vh;
    width: 100%;
}