.global_center_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.global_uniform_vertical_style{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}