.addButtonParent{
    display: flex;
    justify-content: end;
}

.image_uplaod{
    height: 19rem;
    border: 1.5px dashed #1976D2;
    border-radius: 10px;
    overflow: hidden;
}

.image_uplaod:hover{
    cursor: pointer;
    border: 2px dotted #1976D2;
}